@import "./mixins.scss";


footer{
@include breakpoint(xs){
    flex-direction: column;
    gap: 35px;

}

    display: flex;
    height: 125px;
    gap: 55px;
    .footer-article{
        display: flex;
        gap: 20px;

        width: 330px;
        img{
            height: 125px;
        }
        .footer-article--text{
            display: flex;
            flex-direction: column;
            height: 125px;
            
            .numb-footer-article{
                font-size: 30px;
                color: $Soft-red;
                margin-bottom: 10px;
            }

            h3{
                margin-bottom: 10px;
                font-size: 15px;
                color: black;
            }
            h3:hover{
                color: $Soft-orange;
            }
        }
    }

}